.BackButton{
  color: black;
  cursor: pointer;
  .BackBtnText{
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  i{
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
}